<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %F %logger{36} - %msg%n"/>
    </Console>
    <File name="FileLog" fileName="weblog.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %F %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="FileLogLogger" level="info" additivity="false">
      <AppenderRef ref="FileLog" level="info"/>
      <AppenderRef ref="Console" level = "error"/>
    </Logger>
  </Loggers>
</Configuration>